<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarTrader - Продажба на употребявани автомобили</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>
  <body>
    <nav>
      <a href="{% url 'index' %}" id="logo">CarTrader</a>
    </nav>
    <main>
      <h1 id="ads-header">Търсене</h1>
      <form method="GET" action="{% url 'search' %}">
        <div class="search-ad-div">
          <label for="brand">Бранд:</label>
          <input type="text" class="search-ad" name="brand" placeholder="BMW/Audi..." />
        </div>  
        <div class="search-ad-div">
          <label for="model">Модел:</label>
          <input type="text" class="search-ad" name="model" placeholder="318/A4..." />
        </div>
        <div class="search-ad-div">
          <label for="engine">Двигател:</label>
          <input type="text" class="search-ad" name="engine" placeholder="Бензинов/Дизелов..." />
        </div>
        <div class="search-ad-div">
          <label for="gearbox">Скоростна кутия:</label>
          <input type="text" class="search-ad" name="gearbox" placeholder="Автоматична/Ръчна" />
        </div>
         <div class="search-ad-div">
          <label for="wheel">Волан:</label>
          <input type="text" class="search-ad" name="wheel" placeholder="Ляв/Десен" />
        </div> 
        <div class="search-ad-div">
          <label for="coupe_type">Тип купе:</label>
          <input type="text" class="search-ad" name="coupe_type" placeholder="Седан/Хечбек..." />
        </div> 
        <div class="search-ad-div">
          <label for="color">Цвят:</label>
          <input type="text" class="search-ad" name="color" placeholder="Бял/Черен..." />
        </div>
         <div class="search-ad-div">
          <label for="region">Регион:</label>
          <input type="text" class="search-ad" name="region" placeholder="Бургас/София..." />
        </div>
        <button  id="search-button-ad" type="submit">Търси</button>
      </form>

      {% if ads %}
        <article id="menus-container">
          {% for ad in ads %}
            <a class="ad-index" href="{% url 'ad' pk=ad.pk %}">
              <h3>{{ ad.brand }} {{ ad.model }} {{ ad.info }}</h3>
              {% if ad.image %}
                <p>
                  <img id="view-ad-image" src="{{ ad.image.url }}" alt="ad-image" style="width: 250px; height: 160px;" />
                </p>
              {% else %}
                <img id="view-ad-image" src="{% static 'default_image.jpg' %}" alt="default_image" style="width: 250px; height: 160px;" />
              {% endif %}
              <h4 id="ad-price">{{ ad.price }} {{ ad.currency }}</h4>
            </a>
          {% endfor %}
        </article>
      {% endif %}
    </main>
    <footer id="profile-footer">
      <p>2024 ® Copyright CarTrader</p>
    </footer>
  </body>
</html>
